@use '../util' as *;

.container {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
  max-width: rem(1440);
  margin: auto;
}
