@use 'util' as *;
.intro {
  display: grid;
  grid-template-columns: repeat(2, 542px);
  gap: 0.1rem;
  @include breakpoint-down(medium) {
    grid-template-columns: 542px;
  }
  @include breakpoint-down(small) {
    grid-template-columns: 340px;
  }

  &-headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
    margin-left: 4rem;
    @include breakpoint-down(small) {
      margin: 0;
      text-align: center;
    }
    h1 {
      font-weight: 700;
      font-size: 3rem;
      margin-top: 4rem;

      @include breakpoint-down(small) {
        font-size: 1.8rem;
        line-height: 1.2;
      }
    }
    h6 {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.8;
      margin-top: 4rem;
      @include breakpoint-down(medium) {
        margin-top: 2rem;
      }
      @include breakpoint-down(small) {
        margin-top: 2rem;
      }
    }
  }
  &-form {
    .free-trial {
      background-color: var(--blue);
      color: var(--white);
      text-align: center;
      padding: 1rem;
      border-radius: 10px;
      margin: 1rem auto;
      border: none;
      box-shadow: 0 8px 1px rgba(0, 0, 0, 0.144);
      @include breakpoint-down(small) {
        padding: 1rem 4rem;
      }
    }
    .success {
      position: relative;
      top: -2px;
      left: 172px;
      color: green;
      font-size: 1rem;
      font-weight: 200;
      @include breakpoint-down(medium) {
        top: -2px;
        left: 172px;
      }
      @include breakpoint-down(small) {
        font-size: 0.9rem;
        top: -2px;
        left: 79px;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      padding: 2rem 1rem;
      background-color: var(--white);
      height: 500px;
      border-radius: 10px;
      box-shadow: 0 8px 1px rgba(0, 0, 0, 0.144);
      input {
        display: block;
        width: 90%;
        padding: 1rem 2rem;
        margin: 1rem auto;
        border-radius: 5px;
        border: 1px solid var(--grayishblue);
        font-family: var(--font-body);
        font-weight: 600;
        font-size: 0.9rem;
        @include breakpoint-down(small) {
          padding: 1rem;
        }
        &:focus {
          outline: 1px solid var(--darkblue);
          border: none;
        }
        &.error {
          border: 2px solid var(--red);
          color: var(--red);
          outline: none;
        }
      }
      label {
        position: absolute;
        margin: 0;
        padding: 0;
        font-style: italic;
        color: var(--red);
        font-size: 0.7rem;
        top: 74px;
        left: 322px;
        @include breakpoint-down(small) {
          left: 130px;
        }
      }
      img {
        position: absolute;
        top: 35px;
        left: 440px;
        @include breakpoint-down(small) {
          left: 255px;
        }
      }
    }
    .fn {
      position: relative;
    }
    .ln {
      position: relative;
    }
    .em {
      position: relative;
    }
    .pw {
      position: relative;
    }
    button {
      display: block;
      width: 90%;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 500;
      background-color: var(--green);
      color: var(--white);
      text-align: center;
      padding: 1rem;
      border-radius: 5px;
      margin: 1rem auto;
      border: none;
      box-shadow: 0 5px 5px var(--green);
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    p {
      margin: 0;
      text-align: center;
      color: var(--grayishblue);
      font-size: 0.7rem;
      span > a {
        color: var(--red);
      }
      @include breakpoint-down(small) {
        padding: 0 2rem;
      }
    }
  }
}
